<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <h1>Available Laptop here?</h1>
        <form>
          <div class="laptop-search">
     <input type="text" placeholder="Search for a Laptop" id="laptops" ><span><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
     
        </form>
            <div class="laptop-grid">
    <% for(let laptop of avaiLaptops){ %>
      <div class="laptop-card">
        <!-- <img src="/uploads/<%= laptop.image %>" alt="Laptop Image"> -->
        <img src="/uploads/<%= laptop.image %>" alt="Laptop Image">
        <p><%= laptop.details %></p>
        <p><%= laptop.features %></p>
        <span class="price">Price: <%= laptop.price %></span>
        <span class="discount">Discount: <%= laptop.discount %></span>
        <button>Buy</button>
      </div>
    <% } %>
  </div>

      
    </body>
    </html>

</body>
</html>
